/*Lesson-1*/

body {
    margin: 0;
    padding: 0;
}

.block_react {
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.block_react h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn {
    margin: 20px 0 0 0;
}