.message-field {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 50%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layout-canvas {
    height: 50%;
    width: 100%;
    display: flex;
}

.layout-left-side {
    height: 100%;
    width: 30%;
    background-color: darkgray;
}

.layout-right-side {
    height: 100%;
    width: 70%;
}

.header {
    width: 100%;
    min-height: 40px;
    background-color: lightblue;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
}

.message-sender {
    color: gray;
    font-size: 14px;
}

.chat-list {
    width: 300px;
}

.profile {
    width: 50%;
    min-height: 100px;
    margin: 0 auto;
}

.btn_remove_chat {
    margin-left: 20px;
    border: 2px solid orange;
    height: 25px;
    background-color: orange;
    color: white;
    border-radius: 8px;
    outline: none;
}

.btn_remove_chat:hover {
    box-shadow: 3px 3px 5px white;
}

.btn_remove_chat:active {
    box-shadow: none;
}


/* 
.chat-list {
    width: 200px;
} */

.layout {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.layout-canvas {
    height: calc (100% - 100px);
    width: 100%;
    display: flex;
}

.header {
    width: 100%;
    height: 40px;
    background-color: lightblue;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.layout-left-side {
    display: None;
}

.layout-right-side {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 650px) {
    .layout {
        width: 50%;
    }
    .layout-canvas {
        height: 50%;
        width: 100%;
        display: flex;
    }
    .layout-right-side {
        width: 70%;
    }
    .layout-left-side {
        display: block;
        height: 100%;
        width: 30%;
        background-color: darkgray;
    }
    .layout {
        width: 50%;
    }
    .layout-canvas {
        height: 50%;
    }
}